# Systèmes de recommandation : les données MovieLens

Nous nous intéressons à la base de données MovieLens. Des utilisateurs ont noté des items (films). Dans cette première partie, il s'agit d'analyser les données, définir une métrique entre items, et ranger les items similaires à un film donnée par ordre décroissant de similarité.
<font color="red">
Faire les imports habituels (numpy, pandas)</font>

In [2]:
# Chargement des données (on précise que les séparateurs sont des tabulations)
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)

<font color="red">
Afficher les premières lignes de la dataframe, et comprendre sa structure.</font>

<font color="red">
Evaluer le nombre d'uilisateurs uniques, le nombre d'items uniques.</font>

In [ ]:
n_user = 
n_item =

<font color="red">
Le fichier "../data/Movie_Id_Titles" contient la correspondance entre l'item_id et le titre du film. Charger ce fichier avec read_csv, et afficher les première lignes.</font>

In [ ]:
# Chargement des titres de film
movie_titles =

<font color="red">
Avec df.merge, ajouter une colonne "title" à la dataframe df : on fixera le paramètre on=".." à la bonne valeur.
</font>

In [ ]:
# Ajout d'une colonne de titres aux données
df = df.merge( ..., on = ...)

<font color="red">
Avec groupby, créer une nouvelle dataframe 'rating_movies' contenant la note moyenne de chaque film. 
Afficher le résultat en classant les films par ordre décroissant de note. Quels sont les films les mieux notés ?</font>

In [ ]:
rating_movies = pd.DataFrame(df.groupby( ... )[ ...].mean())
rating_movies.sort_values(by = ...,ascending=...).head()

<font color="red">
Représenter l'histogramme des notes moyennes des films. A quoi correspondent les "pics" en 1 et en 5 ?</font>

In [ ]:
import matplotlib as plt
%matplotlib inline

- Quelques navets ont une note moyenne de 1
- Quelques films ont une note moyenne de 5, probablement de bons films, mais confidentiels

<font color="red">
Ajouter à la dataframe 'rating_movies' une nouvelle colonne 'num of ratings' contenant le nombre de notes de chaque film. Que peut-on dire des films les mieux notés en moyenne ?</font>

In [11]:
rating_movies['num of ratings'] = 
rating_movies.sort_values(...

                                            rating  num of ratings
title
They Made Me a Criminal (1939)                 5.0               1
Marlene Dietrich: Shadow and Light (1996)      5.0               1
Saint of Fort Washington, The (1993)           5.0               2
Someone Else's America (1995)                  5.0               1
Star Kid (1997)                                5.0               3

Cela confirme que les films les mieux notés ont peu de notes.

<font color="red">
Afficher les titres de films ayant le plus de notes et discuter leur ratings.
</font>

In [ ]:
rating_movies.sort_values(by=...,ascending=...).head()

<font color="red">
Représenter la distribution du nombre de ratings.</font>

In [ ]:
rating_movies.hist(column=...., bins=...);

<font color="red">
Avec sns.jointplot, représenter le nuage de points (note moyenne, nombre de notes) sur l'ensemble des film (utiliser le paramètre alpha= de votre choix).  
Discuter le graphique.
</font>

In [1]:
import seaborn as sns
sns.jointplot(x=...,y=...,data=...,alpha=0.5);

- On retrouve le fait que les films ayant pour note moyenne 1 ou 5 sont les films peu notés
- Tendance : les films biens notés sont globalement les films beaucoup notés
- Un film beaucoup noté ne peut avoir une note très proche de 5

# Films les plus similaires à un item 
Dans cette partie, on se fixe un item, disons 'Star Wars (1977)'. On souhaite trouver des films "similaires" à Star Wars, et les classer par ordre de similarité, afin de les recommander.  
<font color="red">
Avec df.pivot_table, créer la matrice des intteractions, dont les indices sont les lignes correspondent aux user_id, les colonnes correspondent aux item_id, et dont les entrées sont les ratings.
</font>

In [15]:
moviemat = df.pivot_table(values=,index=,columns=)

<font color="red">
Extraire la colonne 'Star Wars (1977)' et 'Liar Liar (1997)'
</font>

In [ ]:
starwars_user_ratings =

In [ ]:
liarliar_user_ratings =

<font color="red">
Avec la méthode starwars_user_ratings.corr(colonne à corréler), calculer la corrélation de ces deux colonnes
</font>

<font color="red">
Que fournit le résultat de la méthode corrwith() ci-dessous ?
</font>

In [ ]:
moviemat.corrwith(starwars_user_ratings)

<font color="red">
Transformer la série ci-dessus en dataframe, et afficher les titres de film par ordre croissant de leur corrélation avec starwars.  
Discuter le résultat.</font>

In [ ]:
similar_to_starwars = pd.DataFrame( moviemat.corrwith(starwars_user_ratings) ,columns=['Corr'])
similar_to_starwars.sort_values(by=...,ascending=...).head(10)

Le problème est que les corrélations sont calculées sur les valeurs non NaN

Si un film a reçu la note r d'un seul utilisateur, et que cet utilisateur a noté r starwars, la corrélation vaut 1

Pour éviter cela, on va rechercher la corrélation parmi les films ayant plus de 100 ratings

<font color="red">
Ajouter à la dataframe similar_to_starwars une nouvelle colonne correspondant au nombre ratings de chaque film.</font>

In [27]:
similar_to_starwars['num of ratings'] =

<font color="red">
Filtrer les lignes pour n'afficher que les titres ayant un nombre de ratings "suffisant" pour que vous les reteniez dans le classement. Classer par ordre décroissant de similarité.
</font>

In [ ]:
most_similar_movies = similar_to_starwars[ ... ]

In [ ]:
most_similar_movies.sort_values( ... )
most_similar_movies.head(10)

<font color="red">
Si ce n'est fait, effectuer le classement par valeurs décroissantes de corrélation en mode "inplace".  
Puis, grâce à reset_index, obtenir une nouvelle colonne correspondant au classement de chaque film.</font>

<font color="red">
Dans ce classement par similarité, quel est le rang du film 'Batman (1989)' ?
</font>